# Arquivos de ambiente
/backend/.env

# Módulos do Node.js
/backend/node_modules
/frontend/node_modules

# Arquivos de build e cache
.DS_Store
.vscode/
/coverage
/build
/dist

# Arquivos de log
*.log

# Arquivos de configuração específicos do usuário
.idea/

# Arquivos de backup
*.bak
*.backup
